# Dependencies
frontend/node_modules/
backend/node_modules/

# Strapi
backend/.env
backend/.tmp/
backend/build/
backend/exports/
backend/.cache/

# Astro
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db